.input-field {
  border: 2px solid $silver_moon;
  border-radius: 2px;
  position: relative;

  &__wrapper{
    margin-bottom: 32px;
  }

  &_opened {
    border-bottom: none;
  }

  &_hover {
    border-color: $grey_mouse;
  }

  &_focus {
    border-color: $blue_active;
  }

  &_error{
    background-color: $red;
  }
  
  &__error{
    color: $red;
    font-size: 12px;
    margin-top: 4px;
  }

  &__placeholder {
    position: absolute;
    left: 0;
    margin-left: 0;
    padding: 0 12px;
    font-size: 16px;
    white-space: nowrap;
    height: 100%;
    max-width: calc(100% - 48px);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: inherit;
    color: $asphalt;
    pointer-events: none;
    transition: all 0.2s ease 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;

    &_pined {
      border-radius: 4px;
      margin-left: 8px;
      font-size: 14px;
      padding: 0 6px;
      height: 15px;
      transform: translateY(-50%);
      background-color: $white;
    }

    &_focus {
      color: $azure;
    }
  }

  &__input {
    border: none;
    outline: none;
    padding: 12px 14px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    color: $night;
  }

  &__select {
    position: absolute;
    border: 2px solid $blue_active;
    border-top: none;
    left: -2px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 2;
  }

  &__select_active {
   display: block;
  }

  &__option {
    padding: 12px 8px;
    border-top: 1px solid $asphalt;
    background-color: $white;
    cursor: pointer;
  }

  &__option:hover{
    background-color: $polar_star;
  }
}