.h1_promo{
  font-size: 48px;
  line-height: 52px;
}

.h2_promo{
  font-size: 40px;
  line-height: 40px;
}

.h1{
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}

.h2{
  font-size: 22px;
  line-height: 32px;
}

.h3{
  font-size: 18px;
  line-height: 24px;
}

.h1_promo, .h2_promo, .h1, .h2, .h3{
  margin-bottom: 28px;
}