@font-face {
  font-family: 'ProximaNova';
  src: url("/fonts/ProximaNova/ProximaNova.ttf") format('truetype'),
  url("/fonts/ProximaNova/ProximaNova.otf") format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("/fonts/ProximaNova/ProximaNovaBold.ttf") format('truetype'),
  url("/fonts/ProximaNova/ProximaNovaBold.otf") format('otf');
  font-weight: 500;
}